*.sw*
# xcode noise
build/
*.pbxuser
*.mode1v3

# old skool
.svn

# osx noise
.DS_Store
profile
# automatic backup files
*~.nib
*.swp
*~
*(Autosaved).rtfd/
Backup[ ]of[ ]*.pages/
Backup[ ]of[ ]*.key/
Backup[ ]of[ ]*.numbers/

